div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: lightblue;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.page-margin {
  margin: auto 150px;
}

@media screen and (max-width: 800px) {
  .page-margin {
    margin: auto 50px;
  }
}

@media screen and (max-width: 600px) {
  .page-margin {
    margin: auto 20px;
  }
}

input:focus {
  outline: none;
}
